.git
.github
.gitattributes
node_modules
vendor
public/build
public/hot
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
.env
.env.*
!.env.example
tests
docs
*.md
.editorconfig
.npmrc
.phpunit.result.cache
phpunit.xml
